html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

header {
  background-image: url("../images/star.svg");
  background-size: 40px auto;
  background-repeat: no-repeat;
  background-position: 2.5% 50%;
  background-color: #71090A;
  padding: 1em 0 40px;
  text-align: center;
  position: relative;
}

h1 {
  font-family: 'Bilbo Swash Caps', cursive;
  color: #fff;
  text-align: center;
  background-color: #AC1816;
  margin: 0;
  padding: 8px;
}

.nav {
  margin: 0;
  padding: 0;
  list-style-type: none;
  background-color: #AC1816;
  display: none;
  position: absolute;
  right: 0;
  top: 100%;
  width: 12.5em;
}

.nav a {
  display: block;
  padding: 0.5em;
  text-decoration: none;
  color: #fff;
}

.nav a:hover {
  background-color: #71090A;
  color: #fff;
}

.nav-check {
  position: absolute;
  top: -3em;
}

.nav-check:checked ~ .nav {
  display: block;
}

.nav-label {
  cursor: pointer;
  font-size: 1.25rem;
  display: inline-block;
  width: 40px;
  position: absolute;
  right: 5px;
  top: 5px;
  margin: 5px;
  padding: 5px;
}

.nav-open,
.nav-close {
  display: block;
  width: 100%;
}

.nav-check:checked ~ .nav-label {
  background-color: #AC1816;
}

.nav-close {
  display: none;
}

.nav-check:checked ~ .nav-label .nav-open {
  display: none;
}

.nav-check:checked ~ .nav-label .nav-close {
  display: block;
}
