html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

header {
  background-image: url("../images/star.svg");
  background-size: 50px auto;
  background-repeat: no-repeat;
  background-position: 2.5% 50%;
  background-color: #71090A;
  padding: 1em 0 60px;
  text-align: center;
  position: fixed;
  width: 100%;
  top: 0;
}

h1 {
  margin-top: 75px;
  margin-bottom: 0;
}

h2 {
  margin: 0;
}

h1, h2 {
  font-family: 'Bilbo Swash Caps', cursive;
  color: #fff;
  text-align: center;
  background-color: #AC1816;
  padding: 8px;
  font-size: 2.75em;
}

.nav {
  margin: 0;
  padding: 0;
  list-style-type: none;
  background-color: #AC1816;
  display: none;
  position: absolute;
  right: 0;
  top: 100%;
  width: 15em;
}

.nav a {
  display: block;
  padding: 0.25em;
  text-decoration: none;
  color: #fff;
  font-size: 1.25em;
  font-family: Verdana, Geneva, sans-serif;
}

.nav a:hover {
  background-color: #71090A;
  color: #fff;
}

.nav-check {
  position: absolute;
  top: -3em;
}

.nav-check:checked ~ .nav {
  display: block;
}

.nav-label {
  cursor: pointer;
  font-size: 1.25rem;
  display: inline-block;
  width: 50px;
  position: absolute;
  right: 5px;
  top: 9px;
  margin: 5px;
  padding: 5px;
}

.nav-open,
.nav-close {
  display: block;
  width: 100%;
}

.nav-check:checked ~ .nav-label {
  background-color: #AC1816;
}

.nav-close {
  display: none;
}

.nav-check:checked ~ .nav-label .nav-open {
  display: none;
}

.nav-check:checked ~ .nav-label .nav-close {
  display: block;
}

p {
  font-family: Georgia, serif;
  padding: 12px;
  padding-top: 0;
  margin: 0;
  font-size: 1.1em;
}

h3 {
  font-family: 'Bilbo Swash Caps', cursive;
  color: #fff;
  text-align: center;
  background-color: #71090A;
  margin: 0;
  padding: 7px;
  font-size: 2.25em;
}

h4 {
  font-family: 'Bilbo Swash Caps', cursive;
  color: #fff;
  text-align: left;
  background-color: #541A0F;
  margin: 0;
  padding: 6px;
  padding-left: 24px;
  padding-right: 24px;
  font-size: 2em;
}

.info {
  text-align: right;
  font-style: italic;
  color: #AC1816;
  padding: 12px;
  margin: 0;
  font-size: 0.9em;
}

i {
  font-size: 0.9em;
}

.first, .title {
  padding-top: 12px;
}

td {
    border: 1px solid black;
}

th, td {
  padding-left: 6px;
  padding-right: 6px;
  font-size: 1.1em;
  font-family: Georgia, serif;
}

table {
  width: 97%;
  margin-left: 1.5%;
  margin-right: 1.5%;
}

.title {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 1.3em;
}

b {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 0.875em;
  color: #541A0F;
}

footer {
  background-image: url("../images/star.svg"), url("../images/logo.svg");
  background-size: 50px auto, 150px auto;
  background-repeat: no-repeat, no-repeat;
  background-position: 96.5% 95%, center center;
  background-color: #AC1816;
  margin-top: 6px;
}

footer img {
  width: 30px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 225px;
  padding-top: 12px;
}

footer p {
  color: #fff;
  font-size: 0.75em;
}

td em {
  font-style: normal;
  font-weight: bold;
  font-family: Verdana, Geneva, sans-serif;
}

iframe {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
